/*General*/
:root {
  --primary-color: #dba11c;
  --secondary-color: #dfe0df;
  --accent-color-dark: #402e32;
  --accent-color-light: #b8881c;
  --shadow: 0.3rem 0.3rem 1rem 0.1rem rgba(0, 0, 0, 0.4);
  --shape: 6em 1em;
  --transition: all 500ms ease-in-out;
}
body {
  background-color: var(--secondary-color);
  font-family: "Cabin", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9 {
  font-family: "Candal", sans-serif;
  color: var(--primary-color);
}

p {
  color: var(--accent-color-dark);
}

.primary-button {
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 1.2rem;
  text-decoration: none;
  border-radius: 50px;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.primary-button:hover {
  color: var(--secondary-color);
  background-color: var(--accent-color-dark);
}

.secondary-button {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  border: 2px solid var(--primary-color);
  padding: 1.2rem;
  text-decoration: none;
  border-radius: 50px;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.secondary-button:hover {
  color: var(--accent-color-dark);
  border: 2px solid var(--accent-color-dark);
  text-decoration: none;
}

.page-footer {
  position: relative;
}

.pages-main {
  margin: 5rem;
}

.path {
  margin-top: 3rem;
  padding-left: 3rem;
}

/*Nav bar*/
.nav-bar-logo {
  max-width: 40px;
  border-radius: 1em;
  background-color: var(--secondary-color);
  padding: 5px;
}

.nav-link {
  color: var(--secondary-color) !important;
  transition: var(--transition);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--accent-color-light) !important;
}

.active {
  color: var(---accent-color-dark) !important;
}

/*Hero header*/
.hero {
  background-image: url(/images/hero-bg.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  background-size: cover;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 15rem;
  margin-bottom: 5rem;
  opacity: 0.6;
}

.hero h1,
.hero h2 {
  color: var(--secondary-color);
  filter: brightness(1.5);
  text-shadow: 0 0 5px rgb(75, 73, 73);
}

/*About page*/
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons {
  width: 50%;
  margin: auto;
  margin-bottom: 3rem;
}

.about-box {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  box-sizing: border-box;
  display: inline;
  padding: 2rem;
}

.center {
  text-align: center;
}

.intro {
  width: 80%;
  display: block;
  margin: 3rem auto;
}

.area {
  font-family: "Candal", sans-serif;
  font-size: 1.5rem;
  color: var(--primary-color);
}

.areas-container {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
}

.areas-element {
  margin: 2rem;
}

/*Footer*/
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  font-size: 0.8rem;
  padding: 20px 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-icon-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.footer-link {
  text-decoration: none;
  color: var(--secondary-color);
  transition: var(--transition);
  font-weight: 900;
}

.footer-link:hover {
  text-decoration: none;
  color: var(--accent-color-light);
}

.footer-icon {
  height: 50px;
  transition: var(--transition);
}

.footer-icon:hover {
  filter: opacity(0.5);
  background-color: #402e32;
}

.medium-icon {
  border-radius: 50px;
}

.github-icon {
  height: 55px;
}

.app-image,
.woman-picture {
  max-width: 400px;
  margin: 1rem;
  width: 100%;
  border: 0.4rem solid white;
  box-shadow: var(--shadow);
  border-radius: var(--shape);
}

.certificate {
  font-weight: bold;
  color: var(--primary-color);
}
.certificate-description {
  list-style: none;
  margin-bottom: 1rem;
}

/*Contact page*/
.contact-image {
  width: 70%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contact-link {
  text-decoration: none;
  color: var(--accent-color-dark);
  transition: all 200ms ease-in-out;
}

.contact-list {
  list-style: none;
}

.contact-link:hover {
  font-weight: bold;
  color: var(--accent-color-dark);
}

.contact-page-footer {
  position: absolute;
  bottom: auto;
}

.icon {
  font-size: 2.5rem;
  color: var(--accent-color-dark);
  margin: 1rem;
}

/*Resume page*/
.job {
  color: var(--accent-color-dark);
  font-weight: bold;
}

.my-code,
.skills {
  background-color: var(--accent-color-dark);
  color: var(--secondary-color);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 3rem;
}

/*Portfolio page*/
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10%;
}

.portfolio-image-box {
  width: 30%;
  min-width: 300px;
  box-sizing: border-box;
  display: inline;
  margin-bottom: 3rem;
}

.portfolio-text-box {
  width: 60%;
  box-sizing: border-box;
  display: inline;
  margin-bottom: 3rem;
}

.my-code p {
  color: var(--secondary-color);
}

/*Media queries*/
@media (min-width: 600px) {
  .hero h1,
  .hero h2 {
    font-size: 4rem;
    line-height: 4.5rem;
  }
}

@media (max-width: 600px) {
  .hero h1,
  .hero h2 {
    font-size: 2rem;
    line-height: 2.5rem;
  }
  h1,
  h2,
  h3,
  p {
    text-align: center;
  }
  .app-title {
    text-align: center;
  }
  .app-description {
    text-align: center;
  }
  .open-button {
    display: block;
    text-align: center;
  }
  .portfolio-image-box {
    display: none;
  }
  .about-box {
    text-align: center;
  }
  .intro {
    margin: 1rem auto;
  }
  .my-code,
  .skills {
    margin-top: 1rem;
  }
  .portfolio-text-box {
    margin-bottom: 1rem;
  }
}

@media (max-width: 990px) {
  .photo-container {
    text-align: center;
  }
  .areas-container {
    flex-direction: column;
    flex-wrap: wrap;
  }
  .areas-element {
    margin: 1.5rem auto;
  }
}
