/*General*/
:root {
  --primary-color: #dba11c;
  --secondary-color: #dfe0df;
  --accent-color-dark: #402e32;
  --accent-color-light: #b8881c;
  --shadow: 0.3rem 0.3rem 1rem 0.1rem rgba(0, 0, 0, 0.4);
  --shape: 1em;
  --transition: all 500ms ease-in-out;
}
body {
  background-color: var(--secondary-color);
  font-family: "Cabin", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
h7,
h8,
h9 {
  font-family: "Candal", sans-serif;
  color: var(--primary-color);
}

h1,
h3 {
  background-color: var(--primary-color);
  color: var(--accent-color-dark);
  border-radius: 50px;
  padding: 1rem;
}

p {
  color: var(--accent-color-dark);
}

.primary-button {
  color: var(--accent-color-dark);
  text-shadow: var(--text-shadow);
  background-color: var(--primary-color);
  padding: 1.2rem;
  text-decoration: none;
  border-radius: 50px;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.primary-button:hover {
  color: var(--secondary-color);
  background-color: var(--accent-color-dark);
}

.secondary-button {
  color: var(--accent-color-dark);
  background-color: var(--secondary-color);
  border: 4px solid var(--accent-color-dark);
  padding: 1.2rem;
  text-decoration: none;
  border-radius: 50px;
  font-family: "Cabin", sans-serif;
  font-weight: bold;
  box-shadow: var(--shadow);
  transition: var(--transition);
}

.secondary-button:hover {
  color: var(--accent-color-dark);
  background-color: var(--primary-color);
  border: 4px solid var(--accent-color-dark);
  text-decoration: none;
}

.page-footer {
  position: relative;
}

.pages-main {
  margin: 5rem;
}

/*Nav bar*/
.nav-bar-logo {
  max-width: 40px;
  border-radius: 1em;
  background-color: var(--secondary-color);
  padding: 5px;
}

.nav-link {
  color: var(--secondary-color) !important;
  transition: var(--transition);
  font-weight: bold;
}

.nav-link:hover {
  color: var(--accent-color-light) !important;
}

.active {
  color: var(--accent-color-dark) !important;
}

/*Footer*/
footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  text-align: center;
  font-size: 0.8rem;
  padding: 20px 0;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.footer-icon-container {
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
}

.footer-link {
  text-decoration: none;
  color: var(--secondary-color);
  transition: var(--transition);
  font-weight: 900;
}

.footer-link:hover {
  text-decoration: none;
  color: var(--accent-color-light);
}

.footer-icon {
  height: 40px;
  transition: var(--transition);
}

.footer-icon:hover {
  filter: opacity(0.5);
  background-color: #402e32;
}

.medium-icon {
  border-radius: 50px;
}

.github-icon {
  height: 55px;
}

/*Hero header*/
.hero {
  background-image: url(/images/hero-bg-min.jpg);
  background-position: top center;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;
  background-size: cover;
  color: var(--secondary-color);
  text-align: center;
  padding-top: 15rem;
  margin-bottom: 5rem;
  opacity: 0.6;
}

.hero h1,
.hero h2 {
  color: var(--secondary-color);
  filter: brightness(1.5);
  text-shadow: 0 0 5px rgb(75, 73, 73);
  background: none;
}

/*About page*/
.about-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.buttons {
  width: 50%;
  margin: auto;
  margin-bottom: 3rem;
}

.about-box {
  width: 50%;
  min-width: 300px;
  max-width: 500px;
  box-sizing: border-box;
  display: inline;
  padding: 2rem;
}

.center {
  text-align: center;
}

.intro {
  width: 80%;
  display: block;
  margin: 3rem auto;
}

.area {
  font-family: "Candal", sans-serif;
  color: var(--accent-color-dark);
  padding: 0; /* remove padding that causes wrapping */
  font-size: 1.35rem; /* slightly smaller to fit */
  line-height: 1.2;
  display: inline-block;
}

.areas-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 3rem;
}

.areas-header {
  background-color: var(--primary-color);
  color: var(--accent-color-dark);
  border-radius: 50px;
  padding: 1rem;
}

.areas-element .icon {
  color: var(--accent-color-dark);
  margin: 0;
  font-size: 1.8rem;
}

.areas-element {
  margin: 2rem auto;
}

.areas-element li {
  list-style: none;
  text-align: center;
}

.areas-element ul {
  padding: 0;
}

.app-image,
.profile-picture {
  max-width: 400px;
  margin: 1rem;
  width: 100%;
  box-shadow: var(--shadow);
  border-radius: var(--shape);
}

.certificate {
  font-weight: bold;
  color: var(--primary-color);
}
.certificate-description {
  list-style: none;
  margin-bottom: 1rem;
}

/*Contact page*/
.container.contact {
  display: flex;
  flex-direction: row;
  gap: 50px;
  width: 100%;
  margin: 3rem 0 0;
  padding: 0;
}

.contact-col h3 {
  padding: 0.5rem;
}

.contact-col {
  width: 40%;
}

.contact-image {
  width: 70%;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.contact-link {
  text-decoration: none;
  color: var(--accent-color-dark);
  transition: all 200ms ease-in-out;
}

.contact-list {
  list-style: none;
}

.contact-link:hover {
  font-weight: bold;
  color: var(--accent-color-dark);
}

.contact-page-footer {
  position: absolute;
  bottom: auto;
}

.icon {
  font-size: 2rem;
  color: var(--primary-color);
  margin: 1rem;
}

.square-icon {
  height: 50px;
  margin: 1rem;
}

/*Resume page*/
.job {
  color: var(--accent-color-dark);
  font-weight: bold;
}

.portfolio-link,
.skills {
  background-color: var(--accent-color-dark);
  color: var(--secondary-color);
  box-shadow: var(--shadow);
  border-radius: 1rem;
  padding: 1rem;
  margin-top: 3rem;
}

.path {
  margin-top: 3rem;
  padding-left: 3rem;
}

/*Portfolio page*/
.portfolio-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 10%;
}

.portfolio-image-box {
  width: 30%;
  min-width: 300px;
  box-sizing: border-box;
  display: inline;
  margin-bottom: 3rem;
}

.portfolio-text-box {
  width: 60%;
  box-sizing: border-box;
  display: inline;
  margin-bottom: 3rem;
}

.portfolio-links {
  display: flex;
  flex-wrap: no-wrap;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  margin: 0 auto;
  gap: 1rem;
}

.portfolio-link {
  width: 60%;
  margin: 0;
  text-align: center;
  padding: 2rem;
}

.portfolio-link p {
  color: var(--secondary-color);
}

/*Media queries*/
@media (min-width: 600px) {
  .hero h1 {
    font-size: 3rem;
    line-height: 3.5rem;
  }
  .hero h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

@media (max-width: 600px) {
  .hero h1 {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
  .hero h2 {
    font-size: 0.9rem;
    line-height: 1.2rem;
    padding: 0 1.5rem;
  }
  h1,
  h2 {
    text-align: center;
  }
  .job > h4 {
    font-size: 20px;
  }
  .job > h5 {
    font-size: 16px;
  }
  .profile-picture {
    margin: 0;
    padding: 0;
  }
  .about-box {
    padding: 1rem;
  }
  .app-title {
    text-align: center;
  }
  .app-description {
    text-align: center;
  }
  .open-button {
    display: block;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
  }
  .portfolio-image-box {
    display: none;
  }
  .portfolio-text-box {
    width: 100%;
    margin-bottom: 1.5rem;
  }
  .portfolio-text {
    text-align: center;
  }
  .about-box {
    text-align: center;
  }
  .intro {
    margin: 1rem auto;
  }
  .my-code,
  .skills {
    margin-top: 1rem;
  }
  .my-code {
    width: 100%;
    margin: 1.5rem auto 0;
  }
  .portfolio-text-box {
    margin-bottom: 1rem;
  }
  .path {
    padding: 0;
  }
  .pages-main {
    margin: 5rem 3rem;
  }
  .areas-element {
    margin: 1.5rem auto;
  }
  .area {
    padding: 0; /* remove padding that causes wrapping */
    font-size: 1.35rem; /* slightly smaller to fit */
    line-height: 1.2;
    display: inline-block;
  }
}

@media (max-width: 990px) {
  .photo-container {
    text-align: center;
  }
  .container.contact {
    flex-direction: column;
  }
  .contact-col {
    width: 100%;
  }
  .areas-container {
    flex-direction: column;
  }
  .portfolio-links {
    flex-wrap: wrap;
    margin-top: 2rem;
  }
  .portfolio-link {
    width: 90%;
  }
}

@media (max-width: 1290px) {
  .areas-header {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 0.75rem 1.25rem;
    text-align: center;
    line-height: 1.2;
  }
}
