:root {
  --primary-color: #55306e;
  --secondary-color: #e5bff5;
  --accent-color-dark: #2e5214;
  --accent-color-light: #80c31e;
}
body {
  background-image: linear-gradient(to bottom right, #a786bf, #e5bff5);
  font-family: "Cabin", sans-serif;
}
h1 {
  font-family: "Candal", sans-serif;
}

.nav-bar-logo {
  max-width: 40px;
  border-radius: 50px;
}
